version: v3
teleport:
  nodename: teleport
  data_dir: /var/lib/teleport

auth_service:
  enabled: "yes"
  cluster_name: teleport.kihpn.online

ssh_service:
  enabled: "yes"

proxy_service:
  enabled: "yes"
  web_listen_addr: 0.0.0.0:443
  public_addr: teleport.kihpn.online:443